.list{
    padding-left: 20px;
    margin-bottom: 5px;
}

.variant_text{
    margin-left: 15px;
    margin-top: 0px; 
    margin-bottom: 0px; 
    line-spacing:single;
}

.wariant-table{
    display: none;
    transition: 0.2s all ease-in-out;
}