/* You can add global styles to this file, and also import other style files */
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,0,255,1) 0%, rgba(1,10,87,1) 52%);
    font-size: 13px;
}

h1{
    font-size: 1.3rem;
}